.hidden {
    display: none;
}


body {
    line-height: 1.5em;
}

h1 {
    line-height: 1.5em;
}


html {
    
    font-family: "Lora", Georgia, "Times New Roman", Times, serif;

  /*
    font-family: "helvetica";
    font-family: "palatino";
	font-family: "Andale Mono";
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: black;
    line-height: 160%;
*/
}


a { 
  /* color:#386794; */ 
  /* font-family: "apolline-1","apolline-2",serif; */
  color:#0000FF;
  text-decoration:bold; 
}

a:hover { 
  color:#1d4c77;
  text-decoration:underline 
}

a:visited,a:active { 
  color:#6c88a2 
}

div#navigation {
    text-align: center;
    border-bottom: 4px solid black;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

body {
    width: 700px;
    /* width: 900px; */
    margin: 0px auto 0px auto;
}
/*
body {
    padding: 0px 0px 60px 0px;
    margin: 0px;
}
*/

div#header {
    height: 32px;
    padding: 20px 0px 20px 60px;
}

div#header img {
    display: inline;
    vertical-align: middle;
}

div#header h1 {
    padding-left: 10px;
    display: inline;
    text-transform: uppercase;
    vertical-align: middle;
}

div#main {
    margin: 0px auto 0px auto;
    width: 760px;
}

div#sidebar {
    margin-right: 30px;
    width: 160px;
    float: left;
    text-align: right;
}

div#sidebar a {
    display: block;
    font-size: 110%;
    text-decoration: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

div#content {
    width: 570px;
    float: right;
}

div#footer {
    padding-top: 30px;
    clear: both;
    font-size: 90%;
    text-align: center;
}

a {
    color: black;
}

h2 {
    font-size: 120%;
    text-transform: uppercase;
}

h3 {
    font-size: 100%;
    text-transform: uppercase;
}

div.column {
    width: 50%;
    float: left;
}

div.column p {
    padding-right: 15px;
}

img {
    display: block;
    margin: 10px auto 10px auto;
    border: none;
}

ul {
    list-style-type: square;
    padding-left: 1em;
    margin-left: 1em;
}

code {
    /* font-weight: bold; */
   background-color: rgb(250, 250, 250); 
   border: 1px solid rgb(200, 200, 200);
   padding-left: 4px;
   padding-right: 4px;
}

pre code {
  /* color: rgb(255, 255, 255);
  color: #F5F1CD;
  font-weight: bold;
   */ 
  /*font-family:"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Lucida Sans Typewriter", monospace;
*/
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: block;
  padding: 8px;
  margin-bottom: 2em;
  overflow:auto;
}

p.caption {
    display: none;
}

img {
  border:0px;
  margin-left:auto;
  margin-right:auto;
  display:block
}

/* NICK WU
code {
  font-family:"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Lucida Sans Typewriter", monospace;
  font-size:13px; 
  background-color:#222
}

pre {background:#000}

pre code{background:#000} 

pre.sourceCode { 
  background-color:black;
  color:white;
  padding:5px;
  margin:0px 10px; 
  overflow:auto
}
*/
